h1 {
    color: rgb(28, 187, 174);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
h2 {
    color: rgb(248, 252, 248);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
h3 {
    color: rgb(248, 252, 248);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
h4 {
    color: rgb(248, 252, 248);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
h5 {
    color: rgb(248, 252, 248);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
p {
    color: rgb(248, 252, 248);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
.visualization-img {
    width: 225px; 
    height: 175px;
    padding: 2px}
.pane {
    background-color:rgb(10, 10, 0)}
.main-image {
    float: left;
    width: 450px;
    height: 300px}
.vis_main-img {
    float: center;
    width: 300;
    height: 250}
.comp-img {
    float: center;
    width: 250px; 
    height: 200px}
.hemi-img {
    width: 550px; 
    height: 400px;
    padding: 10px}