
/* body {
    background-color: lavenderblush;} */
h1 {
    color: black;
    font-family: 'Arial';
    font-weight: bold}
h2 {
    color: black;
    font-family: 'Arial'}
h3 {
    color: black;
    font-family: 'Arial'}
h4 {
    font-size: 14pt;
    color: black;
    font-family: 'Arial'}
h5 {
    color: black;
    font-family: 'Arial'}
p {
    color: black;
    font-family: 'Arial'}
.summary-text {
    font-size: 12pt;
    color:#171618;
    font-family: 'Arial'}
.text-center {
    font-size: 16pt;
    color:#171618;
    font-family: 'Arial'}
.visualization-img {
    width: 225px; 
    height: 175px}
.main-image {
    float: left;
    width: 450px;
    height: 300px}
.vis_main-img {
    float: center;
    width: 300;
    height: 250}
.comp-img {
    width: 750px; 
    height: 600px}
.hemi-img {
    width: 950px; 
    height: 700px}